<div ng-init="getAllFromFavorites()">
    <header class="col-xs-12">
        <div class="container">
            <div class="row">
                <h1 class="hidden-xs">TwitStream</h1>
                <input ng-model="q" type="search" results="5" class="form-control">
            </div>
        </div>
    </header>
    <section ng-cloak class="col-xs-12">
        <div ng-include src="'/partial/_navigation.html'"></div>
        <div ng-show="favoritesList">
            <div class="result" ng-repeat="tweet in favoritesList | filter:q">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="avatar">
                                <img class="img-rounded" ng-src="{{tweet.user.avatarUrl}}">
                            </div>
                            <div class="tweet-info">
                                <a target="_blank" ng-href="http://twitter.com/{{tweet.user.screenName}}">
                                    <strong>{{tweet.user.name}}</strong>
                                    <span class="username hidden-xs">
                                        <s>@</s><b>{{tweet.user.screenName}}</b>
                                    </span>
                                </a>
                                <small class="time hidden-xs">
                                    <a ng-href="http://twitter.com/{{tweet.user.screenName}}/status/{{tweet.idStr}}" target="_blank">{{tweet.created}}</a>
                                    via <span ng-bind-html="tweet.source"></span>
                                </small>
                                <span ng-click="removeFromFavorites($index, tweet.idStr)" class="glyphicon glyphicon-remove favorite-ico"></span>
                                <div class="tweet-text" ng-bind-html="tweet.entities"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!favoritesList">
            <div class="empty col-xs-12 col-sm-6">
                <div class="alert alert-warning">
                    <p>The favorites is empty..</p>
                </div>
            </div>
        </div>
    </section>
    <div ng-cloak ng-show="removedFromFavorites" class="favorites-alert" ng-include src="'/partial/_favoritesAlert.html'"></div>
</div>
