<div ng-init="getAllFromFavorites()">
    <header class="col-xs-12">
        <div class="container">
            <div class="row">
                <h1>TwitStream</h1>
                <input ng-model="q" type="search" results="5" class="form-control">
            </div>
        </div>
    </header>
    <section ng-cloak class="col-xs-12">
        <div ng-include src="'/partial/_navigation.html'"></div>
        <div ng-show="favoritesList">
           <tweet class="result" ng-repeat="tweet in favoritesList | filter:q | orderBy:'-addedTimestamp'"></tweet>
        </div>
        <div ng-show="!favoritesList">
            <div class="empty col-xs-12 col-sm-6">
                <div class="alert alert-warning">
                    <p>The favorites is empty..</p>
                </div>
            </div>
        </div>
    </section>
    <div ng-cloak ng-show="removedFromFavorites" class="_alerts" ng-include src="'/partial/_favoritesAlert.html'"></div>
</div>
