<div ng-init="search()">
    <header class="col-xs-12">
        <div class="container">
            <div class="row">
                <h1>TwitStream</h1>
                <form ng-submit="search()">
                    <div ng-cloak ng-show="showHint" class="popover-wrapper" ng-include src="'/partial/_popover.html'"></div>
                    <input ng-model="channels" ng-click="toggleHint()" type="search" results="5" class="form-control" placeholder="e.g #Apple">
                </form>
            </div>
        </div>
    </header>
    <section ng-cloak class="col-xs-12">
        <div ng-include src="'/partial/_navigation.html'"></div>
        <div ng-show="loading" class="loader"></div>
        <div ng-show="hasResults">
            <div class="result" ng-repeat="tweet in results">
                <tweet></tweet>
            </div>
        </div>
    </section>
    <div ng-cloak ng-show="addedToFavorites" class="_alerts" ng-include src="'/partial/_favoritesAlert.html'"></div>
    <div ng-cloak ng-show="alert.active" class="_alerts" ng-include src="'/partial/_errorsAlert.html'"></div>
</div>
